html {
  font-size: 62.5%;
}

.header-container {
 display: grid;
 grid-template-columns: 20%;
 background-color: #eb1736;
 padding-top: 1rem;
 padding-bottom: 4rem;
 box-shadow: 0 5px 5px #eb1736;
}

.icon-container {
  height: 12em;
  justify-content: center;

}

.icon-container img {
  width: 50%;
  height: auto;
  grid-column-start: 1;
  grid-column-end: 3;
  padding-left: 8%;
  filter: drop-shadow(2px 2px 3px #333);
}

.app-name {
  margin-top: 2%;
  grid-column-start: 4;
  grid-column-end: 7;
  font-size: 7.2rem;
  padding-top: .2rem;
  text-shadow: 1px 1px 2px #1d1e22;
  color: #1d1e22;
}

.header-container button {
  background-color: #eb1736;
  margin: 1em 1em 1em 10em;
  grid-column-start: 7;
  grid-column-end: 9;
  padding: 2.5rem 2.5rem 2.5rem 2.5rem;
  border-radius: 8px;
  font-size: 1.5rem;
}


/* DISPLAY WORKOUT SECTION */
#display-workout-section{
  display: none;
}

/* Changes order of sets and reps in display */
.exercise-box :nth-child(1){
  order: 1;
}

.exercise-box :nth-child(2){
  order: 3;
}

.exercise-box :nth-child(3){
  order: 2;
}

.exercise-box :nth-child(4){
  order: 4;
}

.exercise-box p{
  margin: 2rem;
}

/* STYLE FOR ALERT */
.alert-container{
  display: flex;
  justify-content: center;
  z-index: 10;
}

.alert{
  position: relative;
  font-size: 1.5rem;
  display: flex;
  padding: 5rem;
  justify-content: space-between;
}

#incomplete-alert button span{
  font-size: 2rem;
  position: absolute;
  top: 0;
  margin: .5rem 0 0 2rem;
}
